<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit: {{ limit }}
  </div>

  <input
    min="1"
    max="50"
    value="{{ limit }}"
    type="range"
    class="slider form-control-range"
    (change)="handelSlideChange($event.target.value)"
  />

  <button class="btn btn-info m-3" (click)="generate()">Generate Words</button>
  <button class="btn btn-info" (click)="generateRandomCountry()">
    Generate Countries
  </button>

  <div *ngIf="words" class="card card-body mb-5">
    <p class="display-4">
      {{ words }}
    </p>
  </div>

  <div *ngIf="countries" class="card card-body mb-5">
    <p class="display-4">
      {{ countries }}
    </p>
  </div>
</div>
